.portfolio-links {
  text-align: center;
}

.nav-sidebar-image {
  height: 3vh;
}

.portfolio-items-parent {
  margin: 0px auto;
  width: 75vh;
}

.portfolio-item {
  margin-bottom: 75px;
}

div.mpimp-images div img{
  width: 730px !important;
}

.fullscreen .image-gallery-slide img {
  width: auto;
  height: auto;
}

a {
  color: white;
}