.portfolio-links {
  text-align: center;
}

.nav-sidebar-image {
  height: 3vh;
}

.portfolio-items-parent {
  margin: 0px auto;
  width: 50%;
}

.portfolio-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  font-size: 1rem;
}

.portfolio-description span {
  text-align: justify;
  padding-bottom: 5px;;
}

.portfolio-description ul {
  text-align: justify;
  margin: 0;
  margin-bottom: 5px;
}

.portfolio-item {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-image {
  width: 800px;
  height: 700px;
}

div.mpimp-images div img{
  width: 730px !important;
}

.fullscreen .image-gallery-slide img {
  width: auto;
  height: auto;
}

a {
  color: white;
}